*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.group:before, .group:after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
    zoom: 1;
}
body {
    background-color: black;
}
body, html {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style-type: none;
}

header {
    position: relative;
    height: 100svh;
    animation: fader 5s linear infinite;
    overflow: hidden;
}
.fading-img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    object-position: center center;
}
.slide {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    animation: fade-zoom 36s infinite;
}
.slide:nth-child(3) {
    animation-delay: 0s;
}
.slide:nth-child(3) img {
    object-position: right top;
}
.slide:nth-child(4) {
    animation-delay: 6s;
}
.slide:nth-child(5) {
    animation-delay: 12s;
}
.slide:nth-child(6) {
    animation-delay: 18s;
}
.slide:nth-child(7) {
    animation-delay: 24s;
}
.slide:nth-child(8) {
    animation-delay: 30s;
}
@keyframes fade-zoom {
    0% {
        opacity: 0;
        transform: scale(100%);
    }
    10% {
        opacity: .5;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: scale(130%);
    }
}
.dark-bg {
    position: absolute;
    inset: 0;
    background-color: black;
    height: 100%;
    width: 100%;
}

.bubbles-container {
    background-color: black;
}
.bubbles {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 0;
    box-shadow: inset 0 0 15px 5px #B9929F;
}
.intro-sum {
    width: 250px;
    height: 250px;
    text-align: center;
    border-radius: 50%;
    padding: 1rem;
    top: -11rem;
    box-shadow: 0 0 20px 5px #B9929F;
    color: white;
    background-color: black;
    margin: 1rem;
}


.intro-sum h2 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 10px;
    font-family: "Playfair", serif;
}
.intro-sum img {
    margin-top: 20px;
}
.intro-sum p {
    margin-top: 5px;
    font-size: .9rem;
    font-family: "PlayFair", serif;
    line-height: 18px;
}




/* HEADER */
@font-face {
    font-family: "Dancing-Script";
    src: url("Fonts/DancingScript-VariableFont_wght.woff") format('woff');
}
@font-face {
    font-family:"Playfair";
    src: url(Fonts/PlayfairDisplay-VariableFont_wght.woff) format('woff');
}
@font-face {
    font-family: "Zain";
    src: url("Fonts/Zain-Regular.woff") format('woff');
}
@font-face {
    font-family: "Caveat";
    src: url('Fonts/Caveat-VariableFont_wght.woff') format('woff');
}
.wide-nav {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 2;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.mobile-nav {
    display: flex;
    position: absolute;
    top: 3vh;
    z-index: 2;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mobile-nav .logo-container {
    margin: 0;
}
.mobile-nav-toggle {
    position: absolute;
    border: none;
    background-color: transparent;
    background-image: url('icons8-menu.svg');
    background-repeat: no-repeat;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: clamp(1.6rem, 5vw, 2rem);
    aspect-ratio: 1;
}
.hamburger-list {
    display: none;
}


ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo-container {
    margin: 4rem;
}
.logo {
    font-family: "Dancing-Script", serif;
    font-size: clamp(2rem, 10vw, 5rem);
    color: whitesmoke;
    font-weight: 700;
}
.nav-list {
    position: relative;
    padding-block: 2rem;
    padding-inline: clamp(2rem, 5vw , 10rem);
    gap: clamp(2rem, 5vw, 10rem);
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 10px 5px #B9929F;
    border-radius: 5px 0 0 5px;
}
.nav-list li {
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform:uppercase;
    flex-shrink: 0;
    font-family: "Playfair", serif;
}
.nav-list a {
    color: whitesmoke;
}

.promo-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
}
.promo-container {
    border-radius: 30px 30px 0 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px 5px #B9929F;
    /* , inset 0 -1px 10px 0 #B9929F */
}
.promo-title {
    text-align: center;
    font-size: clamp(.7rem, 3vw, 1.3rem);
    margin-bottom: 2.5rem;
    font-family: "Playfair", serif;
    /* border: 1px solid red; */
}
.promo-title h2 {
    position: relative;
}
.promo-title h2::after {
    content:'';
    position: absolute;
    width: clamp(5rem, 30vw, 10rem);
    border-bottom: 1px solid white;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: clamp(.7rem, 3vw, 1.3rem);
}
.promo-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid red; */
}

.promo-content-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 1rem;
    
}
@media screen and (max-width: 1200px) {
    .wide-nav {
        display: block;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-container {
        text-align: center;
        margin: 0 0 1.5rem 0;
    }
    .nav-list {
        border-radius: 0; 
        justify-content: space-between
    }
}
@media screen and (width < 650px) {
    .wide-nav {
        display: none;
    }
}
@media screen and (width > 650px) {
    .mobile-nav {
        display: none;
    }
}
@media screen and (height < 500px) {
    .mobile-nav {
        display: flex;
    }
    .wide-nav {
        display: none;
    }
}
.top-promo-socials, .bottom-promo-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.promo-social-svg {
    width: 50px;
    height: 50px;
    display: block;
}
.horizontal-promo {
    width: 110px;
    height: 1px;
    position: absolute;
    transform-origin: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.vertical-promo {
    height: 110px;
    width: 1px;
    flex-direction: column;
    position: absolute;
    transform-origin: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.horizontal-promo::before, .horizontal-promo::after {
    content: '';
    display: inline-block;
    border-top: 1px solid whitesmoke;
    flex-grow: 1;
}
.vertical-promo::before, .vertical-promo::after {
    content: '';
  display: inline-block;
  border-left: 1px solid whitesmoke;
  flex-grow: 1;
}
.horizontal-promo::before {
    margin-right: 10px;
}
.horizontal-promo::after {
    margin-left: 10px;
}
.vertical-promo::before {
    margin-bottom: 10px;
}
.vertical-promo::after {
    margin-top: 10px;
}
.promo-social-svg:hover {
    filter: invert(0.4) sepia(1) saturate(14) hue-rotate(234deg) brightness(.7);
    transform: scale(1.2);
    transition: transform .2 linear;
}
/* .promo {
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 20px 20px 10px 0;
    margin: 0 20px;
}
.promo > span {
    font-size: 1.5rem;
    padding: 10px;
    border-left: 5px solid whitesmoke;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}
.promo p {
    padding: 5px;
    padding-top: 15px;
}
.small {
    font-size: 1.4rem;
    font-weight: bolder;
} */




.booking {
    /* border: 1px solid red; */
    margin: 0 20px;

}
.booking-content {
    width: 100%;   
    text-align: center;
}
.booking-link {
    background-color: #9C5288;
    /* #B9929F */
    padding: 1rem 2rem 1rem 2rem;
    display: inline-block;
    width: 100%;
    font-size: clamp(.7rem, 3vw, 1.1rem);
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Caveat", serif;
    font-weight: bold;
    transition: background-color .2s linear, color .2s linear, transform .2s linear;
}
.booking-content a:hover {
    background-color: whitesmoke;
    color:#9C5288;
    transition: background-color .2s linear, color .2s linear, transform .2s linear;
}
.booking-content a:hover {
    transform: scale(1.05);
}
.or-border {
    display: flex;
    margin: 15px 0;
    align-items: center;
    text-align: center;
    gap: 10px;
    text-transform: uppercase;
    padding: 0 30px;
    font-size: .9rem;
    font-family: "Playfair", sans-serif;
}
.or-border::before, .or-border::after {
    content:'';
    display: inline-block;
    border-top: 1px solid white;
    flex-grow: 1;
}
@media screen and (max-width:650px) {
    .promo-content {
        flex-direction: column-reverse;
    }
    .booking {
        display: flex;
        align-items: center;
    }
    .border::before, .border::after {
        display: none;
    }
    .promo-content-socials > div {
        display: flex;
    }
    .top-left {
        margin: 0;
    }
    .top-right {
        margin: 0;
    }
    .bottom-left {
        margin: 0;
    }
    .bottom-right {
        margin: 0;        
    }
}

/* About Us Section */


.contents-wrap {
  height: 80vh;
  background-color: black;
  padding: 4rem 0;
}
.contents {
  width: 100%;
  height: 100%;
}
.content {
  height: 100%;
}
.flow-grid {
  height: 100%;
  overflow-x: scroll;
  overflow: hidden;
}
.flow-grid-row {
  height: 50%;
  width: max-content;
}
.flow-grid-row-inner {
  height: 100%;
  background-color: black;
  /* display: inline-block; */
}
.item {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.item-in {
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  background-size: 100%;
  background-position: -0.5% -0.5%;
  transform: translateX(1000px);
  /* transform: scale(1);
  transition: transform 2s linear; */
}
.pre-slide-bg {
    height: 100%;
    width: auto;
    position: absolute;
    inset: 0;
    background-color: #c5c5c5;
    opacity: .2;
    transform: translateX(1000px);
}
.item-in-img-container {
  width: auto;
  display: inline-block;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: -0.5% -0.5%;
  transition: opacity .1s linear;
  /* transition: transform 1s .1s ease-in-out; */
}
.item-in-img-container img {
  min-width: 0;
  width: auto;
  height: 100%;
  opacity: 0;
  display: block;
}
.item-in-img-container:hover {
    opacity: 0;
    /* transform: scale(1.05); */
    transition: opacity .1s linear;
    /* , transform 2s .05s ease-in-out; */
}
/* .item-in:hover {
    transform: scale(1.05);
    transition: transform 2s .05s ease-in-out;
} */
.bg1 {
    background-image: url("Home-Images/Scrolling-Collage/alexandru-zdrobau-BGz8vO3pK8k-unsplash.webp");
}
.bg2 {
    background-image: url("Home-Images/Scrolling-Collage/eye-8329347.webp");
}
.bg3 {
    background-image: url("Home-Images/Scrolling-Collage/caique-nascimento-BOHyxqepP9Y-unsplash.webp");
}
.bg4 {
    background-image: url("Home-Images/Scrolling-Collage/dmitry-vechorko-o93EI2mOZ68-unsplash.webp");
}
.bg5 {
    background-image: url("Home-Images/Scrolling-Collage/fingernails-8252121_1920.webp");
}
.bg6 {
    background-image: url("Home-Images/Scrolling-Collage/engin-akyurt-XZvyT2u04i8-unsplash.webp");
}
.bg7 {
    background-image: url("Home-Images/Scrolling-Collage/fineas-gavre-CE_1ZBQ__Ns-unsplash.webp");
}
.bg8 {
    background-image: url("Home-Images/Scrolling-Collage/fulop-adam-Fhoto1Lallc-unsplash.webp");
}
.bg9 {
    background-image: url("Home-Images/Scrolling-Collage/flowing-4712206.webp");
}
.bg10 {
    background-image: url("Home-Images/Scrolling-Collage/gabriel-silverio-HibLL8rsiwc-unsplash.webp");
}
.bg11 {
    background-image: url("Home-Images/Scrolling-Collage/woman-384133_1920.webp");
}
.bg12 {
    background-image: url("Home-Images/Scrolling-Collage/ai-generated-8496231.webp");
}
.bg13 {
    background-image: url("Home-Images/Scrolling-Collage/gabriel-silverio-K_b41GaWC5Y-unsplash.webp");
}
.bg14 {
    background-image: url("Home-Images/Scrolling-Collage/jc-gellidon-mxIUF_b5XJ8-unsplash.webp");
}
.bg15 {
    background-image: url("Home-Images/Scrolling-Collage/jessica-felicio-QS9ZX5UnS14-unsplash.webp");
}
.bg16 {
    background-image: url("Home-Images/Scrolling-Collage/eyes-374920.webp");
}
.bg17 {
    background-image: url("Home-Images/Scrolling-Collage/justin-essah-8bPw733XN-g-unsplash.webp");
}
.bg18 {
    background-image: url("Home-Images/Scrolling-Collage/scarf-3350091_1280.webp");
}
.bg19 {
    background-image: url("Home-Images/Scrolling-Collage/kareya-saleh-tLKOj6cNwe0-unsplash.webp");
}
.bg20 {
    background-image: url("Home-Images/Scrolling-Collage/kimson-doan-HD8KlyWRYYM-unsplash.webp");
}
.bg21 {
    background-image: url("Home-Images/Scrolling-Collage/kyle-winkle-8vWQD-LFXjU-unsplash.webp");
}
.bg22 {
    background-image: url("Home-Images/Scrolling-Collage/rafaella-mendes-diniz-AoL-mVxprmk-unsplash.webp");
}
.bg23 {
    background-image: url("Home-Images/Scrolling-Collage/manicure-8174106_1920.webp");
}
.bg24 {
    background-image: url("Home-Images/Scrolling-Collage/blushing-2666403.webp");
}
.bg25 {
    background-image: url("Home-Images/Scrolling-Collage/sergio-kian-emzc0ziwzYs-unsplash.webp");
}
.bg26 {
    background-image: url("Home-Images/Scrolling-Collage/shayan-rostami-QHSxqBx_V80-unsplash.webp");
}
.bg27 {
    background-image: url("Home-Images/Scrolling-Collage/beauty-5241620.webp");
}
.bg28 {
    background-image: url("Home-Images/Scrolling-Collage/soheil-jalili-d2EajdJsw1k-unsplash.webp");
}
.bg29 {
    background-image: url("Home-Images/Scrolling-Collage/vahid-kanani-EruGdZ9J8nA-unsplash.webp");
}
.bg30 {
    background-image: url("Home-Images/Scrolling-Collage/pexels-rheza-aulia-1780651-3375210.webp");
}
.bg31 {
    background-image: url("Home-Images/Scrolling-Collage/valerie-elash-XUT7V_md7sc-unsplash.webp");
}
.bg32 {
    background-image: url("Home-Images/Scrolling-Collage/vinicius-amnx-amano-VFZF_pzTVBA-unsplash.webp");
}
.bg33 {
    background-image: url("Home-Images/Scrolling-Collage/woman-5443384.webp")
}

.bg1gray {
    background-image: url("Home-Images/Scrolling-Collage/alexandru-zdrobau-BGz8vO3pK8k-unsplash-gray.webp")
}
.bg2gray {
    background-image: url("Home-Images/Scrolling-Collage/eye-8329347-gray.webp")
}
.bg3gray {
    background-image: url("Home-Images/Scrolling-Collage/caique-nascimento-BOHyxqepP9Y-unsplash-gray.webp")
}
.bg4gray {
    background-image: url("Home-Images/Scrolling-Collage/dmitry-vechorko-o93EI2mOZ68-unsplash-gray.webp")
}
.bg5gray {
    background-image: url("Home-Images/Scrolling-Collage/fingernails-8252121_1920-gray.webp")
}
.bg6gray {
    background-image: url("Home-Images/Scrolling-Collage/engin-akyurt-XZvyT2u04i8-unsplash-gray.webp")
}
.bg7gray {
    background-image: url("Home-Images/Scrolling-Collage/fineas-gavre-CE_1ZBQ__Ns-unsplash-gray.webp")
}
.bg8gray {
    background-image: url("Home-Images/Scrolling-Collage/fulop-adam-Fhoto1Lallc-unsplash-gray.webp")
}
.bg9gray {
    background-image: url("Home-Images/Scrolling-Collage/flowing-4712206-gray.webp")
}
.bg10gray {
    background-image: url("Home-Images/Scrolling-Collage/gabriel-silverio-HibLL8rsiwc-unsplash-gray.webp")
}
.bg11gray {
    background-image: url("Home-Images/Scrolling-Collage/woman-384133_1920-gray.webp")
}
.bg12gray {
    background-image: url("Home-Images/Scrolling-Collage/ai-generated-8496231-gray.webp")
}
.bg13gray {
    background-image: url("Home-Images/Scrolling-Collage/gabriel-silverio-K_b41GaWC5Y-unsplash-gray.webp")
}
.bg14gray {
    background-image: url("Home-Images/Scrolling-Collage/jc-gellidon-mxIUF_b5XJ8-unsplash-gray.webp")
}
.bg15gray {
    background-image: url("Home-Images/Scrolling-Collage/jessica-felicio-QS9ZX5UnS14-unsplash-gray.webp")
}
.bg16gray {
    background-image: url("Home-Images/Scrolling-Collage/eyes-374920-gray.webp")
}
.bg17gray {
    background-image: url("Home-Images/Scrolling-Collage/justin-essah-8bPw733XN-g-unsplash-gray.webp")
}
.bg18gray {
    background-image: url("Home-Images/Scrolling-Collage/scarf-3350091_1280-gray.webp")
}
.bg19gray {
    background-image: url("Home-Images/Scrolling-Collage/kareya-saleh-tLKOj6cNwe0-unsplash-gray.webp")
}
.bg20gray {
    background-image: url("Home-Images/Scrolling-Collage/kimson-doan-HD8KlyWRYYM-unsplash-gray.webp")
}
.bg21gray {
    background-image: url("Home-Images/Scrolling-Collage/kyle-winkle-8vWQD-LFXjU-unsplash-gray.webp")
}
.bg22gray {
    background-image: url("Home-Images/Scrolling-Collage/rafaella-mendes-diniz-AoL-mVxprmk-unsplash-gray.webp")
}
.bg23gray {
    background-image: url("Home-Images/Scrolling-Collage/manicure-8174106_1920-gray.webp")
}
.bg24gray {
    background-image: url("Home-Images/Scrolling-Collage/blushing-2666403-gray.webp")
}
.bg25gray {
    background-image: url("Home-Images/Scrolling-Collage/sergio-kian-emzc0ziwzYs-unsplash-gray.webp")
}
.bg26gray {
    background-image: url("Home-Images/Scrolling-Collage/shayan-rostami-QHSxqBx_V80-unsplash-gray.webp")
}
.bg27gray {
    background-image: url("Home-Images/Scrolling-Collage/beauty-5241620-gray.webp")
}
.bg28gray {
    background-image: url("Home-Images/Scrolling-Collage/soheil-jalili-d2EajdJsw1k-unsplash-gray.webp")
}
.bg29gray {
    background-image: url("Home-Images/Scrolling-Collage/vahid-kanani-EruGdZ9J8nA-unsplash-gray.webp")
}
.bg30gray {
    background-image: url("Home-Images/Scrolling-Collage/pexels-rheza-aulia-1780651-3375210-gray.webp")
}
.bg31gray {
    background-image: url("Home-Images/Scrolling-Collage/valerie-elash-XUT7V_md7sc-unsplash-gray.webp")
}
.bg32gray {
    background-image: url("Home-Images/Scrolling-Collage/vinicius-amnx-amano-VFZF_pzTVBA-unsplash-gray.webp")
}
.bg33gray {
    background-image: url("Home-Images/Scrolling-Collage/woman-5443384-gray.webp")
}


/* .about-us-section {
    display: flex;
}
.about-us-info > div:first-of-type {
    display: flex;
}
.about-us-container {
    background-color: black;
    display: flex;
    padding: 150px 1rem 1rem;
}
.about-us-info {
    color: white;
    width: 65%;
}
.about-us-info h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
}
.about-us-text {
    padding: 0 2rem 2rem 2rem;
    line-height: 2rem;
} */








/* Services */
.services-section {
    clear: both;
}
.accordion-wrapper {
    background-color: black;
    padding: 60px 0;
    font-family: "Playfair", serif;
}
.accordion-container {
    max-width: 960px;
    margin: 60px auto;
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 5px #B9929F;
    font-family: "Playfair", serif;
}

.accordion-title-container {
    max-width: 1400px;
    margin: 0 auto;
    height: 300px;
}
.accordion-title {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 5px 5px rgba(0, 0, 0, 1), inset 0 0 75px 60px rgba(0, 0, 0, .5);
}
.accordion-title h1 {
    font-size: 10rem;
    color: rgba(0, 0, 0, .5);
}
.hair-title {
    background-image: url('/Styles/Home-Images/Services-Images/close-up-horse-mane.jpg');
}
.skin-title {
    background-image: url('/Styles/Home-Images/Services-Images/front-view-young-woman-posing-with-roses.jpg');
}
.body-title {
    background-image: url('/Styles/Home-Images/Services-Images/massage-5578598.jpg');
}

.accordion-item-btn {
    color: whitesmoke;
    background-color: inherit;
    border: none;
    width: 100%;
    display: flex;
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    font-family: "Playfair", serif;
    border-bottom: 1px solid white;
    transition: color .2s ease-out, border-color .2s ease-out;
}
.accordion-item-btn::after {
    content: url('/Styles/Home-Images/Services-Images/scissors-svgrepo-com.svg');
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    transition: transform .3s linear;
    transform-origin: bottom;
}
.accordion-item-btn.active::after {
    transform: rotate(-120deg);
    transition: transform .3s linear;
}
.accordion-item-body {
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    color: whitesmoke;
    font-family: "Caveat", sans-serif;
}
.accordion-item { 
    padding: .5rem 0;
}
.accordion-item-btn:hover {
    color:#9C5288;
    border-color: #9C5288;
    transition: color .2s ease-out, border-color .2s ease-out;
    cursor: pointer;
}
.active {
    color:#9C5288;
    border-color: #9C5288;
}
.accordion-item-body-content {
    padding: 1rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}
.sub-title-container {
    display: flex;
    justify-content: center;
}
.sub-title {
    padding: .5rem 1rem;
    text-align: center;
    position: relative;
    font-size: 1.8rem;
}
.sub-title::after {
    content: '';
    position: absolute;
    width: 50%;
    border: 1px solid whitesmoke;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stylist-skill-container {
    align-self: flex-end;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
select {
    border: none;
    background-color: black;
    color: whitesmoke;
    padding: .2rem 1rem;
    font-family: "Caveat", sans-serif;
    font-size: 1.5rem;
    border-bottom: 1px solid whitesmoke;
    transition: border-color .2s linear;
}
select:hover {
    border-color: #9C5288;
    transition: border .2s linear;
}
option {
    font-size: 1rem;
}
.price-option {
    display: flex;
    justify-content: flex-end;
    padding-bottom: .5rem;
    font-size: 1.1rem;
}
.service-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}

.flex-left {
    width: auto;
    flex-shrink: 0;
    font-size: 1.5rem;
    padding-right: 10px;
}
.flex-middle {
    border-bottom: 2px dotted whitesmoke;
    width: 100%;
}
.flex-end {
    width: auto;
    flex-shrink: 0;
    align-self: flex-end;
    font-weight: 700;
    font-size: 1.4rem;
    padding-left: 10px;
}


/* FAQ Section */
.FAQ-section {
    background-color: black;
    padding: 0 1rem 4rem 1rem;
    position: relative;
}
.FAQ-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: url('/Styles/Home-Images/Services-Images/pexels-gochrisgoxyz-1494067.jpg') fixed no-repeat;
    background-size: cover;
    opacity: .5;
}
.FAQ-title {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem 2rem 2rem 0;
    opacity: .99;
    text-align: center;
    font-family: "Playfair", sans-serif;
}
.FAQ-title h1 {
    color: whitesmoke;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5rem;
}
.FAQ-container {
    display: flex;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    opacity: .88;
}
.FAQ-half {
    width: 50%;
}
@media screen and (max-width:1050px) {
    .FAQ-container {
        display: block;
    }
    .FAQ-half {
        width: 100%;
    }
}
.single-cordion-item {
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
    outline: 1px solid transparent;
    transition: outline .3s linear;
}

.single-cordion-item:hover {
    outline: 6px solid #B9929F;
    transition: outline .05s linear;
}
.single-cordion-item-btn {
    width: 100%;
    text-align: left;
    position: relative;
    padding: 1rem 3rem 1rem 1rem;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "Playfair", sans-serif;
    cursor: pointer;
}
.single-cordion-item-btn::after {
    content: '\002B';
    position: absolute;
    width: auto;
    right: 0;
    bottom: 50%;
    font-size: 1.5rem;
    transform: translateY(50%);
    margin-right: 1rem;
    color: #2F0147;
}
.single-cordion-item-btn.active-2::after {
    content: '\2212';
}
.single-cordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
    background-color: transparent;
}
.single-cordion-item-body p {
    text-align: center;
    padding: 1rem;
    font-family: "Playfair", sans-serif;
}


/* Stylists Section */

.stylist-section {
    background-color: black;
    padding: 5rem 0 5rem 0;
}
/* .stylist-title-container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 5rem 0;
    text-align: center;
}
.stylist-title {
    font-size: 5rem;
    color: whitesmoke;
} */
.stylist-wrapper {
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    flex-wrap: wrap;
    
}
.stylist-comment-container {
    color: whitesmoke;
    margin-top: 4rem;
}
.stylist-comment {
    max-width: 400px;
    font-family: "Caveat", sans-serif;
    padding: 1rem;
}
.stylist-comment p {
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.stylist-comment small {
    display: block;
    text-align: right;
    font-size: clamp(1.5rem, 3vw, 1.7rem);
    padding-top: 1rem;
}
.stylist-item {
    border: 10px double whitesmoke;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
}
.stylist-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.stylist-desc-container {
    position: absolute;
    bottom: -4rem;
    left: 50%;
    width: 75%;
    background-color: black;
    transform: translateX(-50%);
    border: 2px solid whitesmoke;
    padding: 1rem 0;
    z-index: 100;
}
.stylist-name {
    font-family: "Playfair", sans-serif;
    font-variant: small-caps;
    font-size: clamp(.7rem, 3vw, .9rem);
}
.stylist-cred {
    font-family: "Caveat", sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.4rem);
}
.stylist-name, .stylist-cred {
    color: whitesmoke;
    text-align: center;
    width: 100%;
}
.stylist-item-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
}
.stylist-item-bg:hover {
    background-color: rgba(245, 245, 245, 0.274);
    transition: all .2s ease-in;
}
.stylist-contact-container {
    opacity: 0;
    transition: opacity .2s ease-in;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.stylist-item-bg:hover > .stylist-contact-container {
    opacity: 1;
    transition: opacity .2s ease-out;
}
.border {
    display: flex;
    align-items: center;
    justify-content: center;
}
.horizontal {
    width: 100px;
    height: 1px;
    position: absolute;
    transform-origin: center;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}
.vertical {
    height: 100px;
    width: 1px;
    flex-direction: column;
    position: absolute;
    transform-origin: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.horizontal::before {
    margin-right: 10px;
}
.horizontal::after {
    margin-left: 10px;
}
.vertical::before {
    margin-bottom: 10px;
}
.vertical::after {
    margin-top: 10px;
}
.horizontal::before, .horizontal::after {
    content: '';
    display: inline-block;
    border-top: 2px solid black;
    flex-grow: 1;
}
.vertical::before, .vertical::after {
    content: '';
  display: inline-block;
  border-left: 2px solid black;
  flex-grow: 1;
}
/* 
relevance
.stylist-contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 5px solid red;
} */
.top-half-container, .bottom-half-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-svg {
    width: 30px;
    height: 30px;
}
.top-left {
    margin-bottom: 8px;
    margin-right: 8px;
}
.top-right {
    margin-bottom: 8px;
    margin-left: 8px;
}
.bottom-left {
    margin-top: 8px;
    margin-right: 8px;
}
.bottom-right {
    margin-top: 8px;
    margin-left: 8px;
}

/* really cool idea, have a single background image spanning across each stylist container, fixed */


/* Contact Section */
.wavy-bg-rel {
    position: relative;
    height: 100px;
    background-color: black;
}
.wave-container-top {
    transform: translateY(20%);
}
.wave-container-btm {
    transform:translateY(-20%);
}
.wavy-bg-rel img {
    display: block;
}
.wavy-bg {
    width: 200%;
    position: absolute;
    left: 0;
    right: 0;
    animation: wavy 20s linear infinite;
    opacity: .5;
}
@media screen and (max-width:1500px) {
    .wavy-bg {
        width: 400%;
    }
}
@media screen and (max-width:800px) {
    .wavy-bg {
        width: 800%;
    }
}
@media screen and (max-width:400px) {
    .wavy-bg {
        width: 1000%;
        animation-duration: 30s;
    }
    .short-wave {
        animation-duration: 30s;
    }
}
.top-wave {
    height: 100%;
}
.btm-wave {
    height:100%;
    animation-play-state: reverse;
}
.wave-svg {
    width: 100%;
    height: 100%;
}
.rotate-svg {
    transform: rotate(180deg);
}
.long-wave {
    z-index: 1000;
}
.short-wave {
    animation: wavy 20s linear infinite reverse;
}
@keyframes wavy {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.contact-section {
    background-color: #D0ADB1;
    /* background-color: #e4c1c5; */
}
svg {
    display: block;
}
.contact-container {
    display: flex;
    padding: 2rem 1rem;
    max-width: 1500px;
    margin: 0 auto;
    gap: 5rem;
}
.contact-left-half {
    width: 66.6666%;
}
.contact-right-half {
    width: 33.3333%;
}
.contact-right-half > div:first-child {
    margin-bottom: 1rem;
}
.contact-left-half .contact-title {
    font-family: "Caveat", sans-serif;
    font-size: clamp(2.5rem, 10vw, 4rem);
    margin-bottom: 1rem;
    display: inline-block;
    line-height: 1.7rem;
    white-space: nowrap;
}
.contact-legend-title {
    font-size: clamp(1rem, 3vw, 1.2rem);
}
.contact-left-half .contact-title:first-of-type {
    margin-right: 10px;
}
.name-input-container {
    display: flex;
}
.name-input-container, .phone-input-container, .email-input-container, .message-input-container {
    margin-bottom: 1rem;
}
.side-by-side-input {
    display: flex;
    gap: 1rem;
}
.name-input-container > fieldset {
    width: 100%
}
.phone-email-input-container {
    display: flex;
    width: 100%;
    gap: 1rem;
}
.phone-input-container {
    width: 50%;
}
.email-input-container {
    width: 50%;
}
.phone-input-container > div {
    width: 50%;
}
.side-by-side-input > div {
    width: 50%;
}
.side-by-side-input > div:first-of-type {
    margin-bottom: 5px;
}
.contact-input {
    padding: clamp(.6rem, 3vw, 1rem);
    background-color: black;
    border: none;
    width: 100%;
    font-size: clamp(.9rem, 3vw, 1.2rem);
    font-family: "Playfair", sans-serif;
    color: #E2C2C6;
    font-weight: 700;
    border-radius: 20px;
    outline: 3px solid white;
}
.contact-input:hover {
    outline: 3px solid #4b0272;
}
.contact-input:focus {
    outline: 3px solid #4b0272;
}
.first-name-label, .last-name-label {
    font-family: "Playfair", sans-serif;
}
.name-input-first-last {
    margin-top: 5px;
}
.name-input-title, .phone-input-title, .email-input-title, .message-input-title {
    margin-bottom: 1rem;
    font-weight: bold;
    font-family: "Playfair", sans-serif;
}
.required-italic {
    font-style: italic;
    font-size: clamp(.7rem, 3vw, .9rem);
}
.name-label {
    font-size: clamp(.8rem, 3vw, 1.1rem);
}
.contact-legend-title div > span:not(:first-of-type) {
    font-weight: normal;
}
.message-input {
    min-width: 50%;
    min-height: 100px;
    max-width: 100%;
    max-height: 400px;
    background-color: black;
    color: #E2C2C6;
    font-weight: 700;
    border-radius: 20px 20px 45px 20px;
    border-top: none;
    outline: none;
    padding: 1rem;
    border-right: none;
    font-family: "Playfair", sans-serif;
    outline: 3px solid white;
}
.message-input:hover {
    outline: 3px solid #4b0272;
}
.message-input:focus {
    outline: 3px solid #4b0272;
}
.contact-send-btn-container {
    margin-top: 3rem;
}
.contact-send-btn {
    padding: .5rem 2.5rem;
    border-radius: 10px;
    font-weight: 700;
    font-variant: small-caps;
    font-size: clamp(1.4rem, 5vw, 1.7rem);
    background-color: black;
    color: whitesmoke;
    font-family: "Caveat", sans-serif;
    outline: 2px solid transparent;
    transition: color .2s linear, outline .2s linear;
}
.contact-send-btn:hover {
    color: purple;
    transition: color .2s linear, outline .2s linear;
    outline: 2px solid purple;
}
.contact-send-btn:active {
    transform: scale(.9);
}
.contact-paragraph-info {
    padding-bottom: 4rem;
}
.contact-paragraph-info p {
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    font-family: "Caveat", sans-serif;
}
.contact-paragraph-info p:first-of-type {
    padding: 1rem 0;
}
.store-info-container {
    border: 2px solid whitesmoke;
    border-radius: 25px;
    padding: 1rem;
}
.contact-right-half {
    font-family: "Playfair", sans-serif;
}
.contact-right-half div:first-of-type > iframe {
    border-radius: 25px;
}
.store-info-container h2 {
    margin-bottom: 1rem;
    text-align: center;
}
.date-time-hours {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
    margin-bottom: .5rem;
}
.date-time-hours span:first-of-type {
    font-variant:small-caps;
}
.phone-info-container, .directions-info-container, .address-info-container {
    display: flex;
    align-items: center;
}
.store-info-svg-container {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    margin-right: 5px;
}
.salon-info-svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.salon-info-details-container:not(:last-of-type) > div {
    margin-bottom: 1rem;
}
fieldset {
    border: none;
}
input {
    border: none;
    outline: none;
}
textarea {
    border: none;
}
iframe {
    width: 100%;
    border: none !important;
}
.info-hours-container > div:first-child {
    margin-bottom: 1rem;
}
@media screen and (max-width:1050px) {
    .contact-container {
        display: block;
    }
    .contact-left-half {
        width: 100%;
        margin-bottom: 3rem;
    }
    .contact-right-half {
        width: 100%;
    }
    .info-hours-container {
        display: flex;
    }
    .store-info-container {
        flex-basis: 50%;
    }
    .salon-info-container {
        margin-right: 1rem;
    }
    .salon-hours-container {
        margin-left: 1rem;
    }
    .info-hours-container > div:first-child {
        margin-bottom: 0rem;
    }
}
@media screen and (max-width: 700px) {
    .info-hours-container {
        display: block;
    }
    .salon-info-container {
        margin-right: 0rem;
    }
    .salon-hours-container {
        margin-left: 0rem;
    }
    .info-hours-container > div:first-child {
        margin-bottom: 1rem;
    }
}
@media screen and (max-width: 500px) {
    .side-by-side-input {
        display: block;
    }
    .side-by-side-input > div {
        width: 100%;
    }
    /* need to fix the phone/email fieldsets (seperate them) */
    .phone-email-input-container {
        display: block;
    }
    .phone-email-input-container > div {
        width: 100%;
    }
}


/* Footer */
.footer-info-wrapper {
    background-color: black;
}
.footer-info-container {
    max-width: 1500px;
    margin: 0 auto;
    color: whitesmoke;
    padding-bottom: 2rem;
}
.org-info-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.ayesha-info-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem 0 1rem;
}
.ayesha-info-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-bottom: 2px solid white;
}
.ayesha-info-wrapper > section > h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: "Dancing-Script";
}
.ayesha-info-wrapper > section > div > p {
    font-size: 1.2rem;
    font-family: "Playfair", sans-serif;
}
.ayesha-info-wrapper > section > div > p:last-of-type {
    margin-bottom: 1rem;
}
.sub-email-input {
    padding: .5rem 1rem;
    width: 50%;
    height: 45px;
    margin-bottom: .7rem;
    text-align: center;
    border-radius: 10px;
    font-family: "Playfair", sans-serif;
    font-size: 1.01rem;
}
.sub-email-input:focus {
    outline: 4px solid #9C5288;
}
.sub-btn-input {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    width: 40%;
    height: 45px;
    border-radius: 10px;
    background-color:#9C5288;
    color: whitesmoke;
    font-family: "Caveat", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: color .2s linear, background-color .2s linear;
}
.sub-btn-input:hover {
    background-color: whitesmoke;
    color: #9C5288;
    transition: color .2s linear, background-color .2s linear;
}
.sub-btn-input:active {
    transform: scale(.9);
}
.org-info {
    text-align: center;
    width: 50%;
    height: 100%;
    padding-top: 2rem;
}
.support-org-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    font-family: "Playfair", sans-serif;
}
.support-org-details-name {
    display: block;
}
.partners-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.partners-details-name {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
    font-family: "Playfair", sans-serif;
    transition: color .2s linear;
}
.partners-details-name:hover {
    color:#d871bc;
    transition: color .2s linear;
}
.footer-svg {
    width: 25px;
    height: 25px;
    display: block;
}
.subscribe-footer-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.subscribe-footer-svg-container > div {
    height: 60px;
    width: 60px;
    padding: .7rem .7rem 0 .7rem;
    border-radius: 50%;
}

a:focus {
    outline: 2px solid purple;
}
input[type="button"] {
    cursor: pointer;
}

.subscribe-footer-svg-container .footer-svg {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.footer-svg:hover {
    transform: scale(1.2);
}
.separation-border {
    width: 2px;
    flex-shrink: 0;
    margin: 0 20px;
    background-color: white;
    height: 40px;
}
.blog-social-border {
    margin: 0 10px;
    width: 1px;
    height: 20px;
}
.partners-details-socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
.support-org-details-name {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    transition: color .2s linear;
    font-size: 1.1rem;
}
.support-org-details-name:hover {
    color:#d871bc;
    transition: color .2s linear;
}
.support-org-details-link {
    display: block;
}
.org-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: "Caveat", sans-serif;
}
.org-info > div > section > h3 {
    font-size: 1.4rem;
    display: inline-block;
    padding-bottom: 1px;
    border-bottom: 1px solid white;
}
.product-logo-section {
    padding: auto 1rem;
    -webkit-mask: linear-gradient(90deg, transparent, white 50%, white 50%, transparent);
    mask: linear-gradient(90deg, transparent, white 50% , white 50%, transparent);
}
.carousel .inner-scroller {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    padding-block: 1rem;
}
.support-org-name-container {
    flex-basis: 33.3333%;
}
.carousel [data-animated="true"] {
    overflow: hidden;
}
.carousel[data-animated="true"] .inner-scroller {
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: fit-content;
    animation: scroll 40s linear infinite;
}
.carousel-item {
    width: 200px;
    height: 100px;
    filter: invert();
}
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.product-logo-section {
    overflow: hidden;
}
@keyframes scroll {
    to{
        transform: translate(calc(-50% - 0.5rem));
    }
}
.vertical-footer-border {
    padding: 10% 0;
    align-self: center;
}
.we-support-info {
    position: relative;
    width: 48%;
}
.our-partners-info {
    position: relative;
    width: 48%;
}


.we-support-info::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
    height: 50%;
    width: 1px;
    background-color: white;
}
@media screen and (max-width: 800px) {
    .org-info-container {
        flex-direction: column;
    }
    .we-support-info {
        width: 100%;
    }
    .our-partners-info {
        width: 100%;
    }
    .we-support-info::after {
        width: 0;
    }
}
@media screen and (max-width: 600px) {
    .sub-email-input {
        width: 80%;
    }
    .sub-btn-input {
        width: 70%;
    }
}

/* socials svgs mq */
@media screen and (max-width: 650px), (height < 500px) {
    .promo-content {
        flex-direction: column-reverse;
    }
    .promo-container {
        width: 100%;
    }
    .booking {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
        height: clamp(45px, 10vw, 150px);
    }
    .booking-content {
        height: 100%;
        width: 50%;
    }
    .book-online {
        padding-right: 10px;
    }
    .call-us {
        padding-left: 10px;
    }
    .booking-link {
        display:flex;
        align-items:center;
        justify-content: center;
        white-space: nowrap;
        height: 100%;
    }
    .border::before, .border::after {
        display: none;
    }
    .promo-title {
        margin-bottom: 1rem;
    }
    .promo-content-socials {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    .promo-content-socials > div {
        display: flex;
        width: 100%;
    }
    .top-promo-socials {
        width: 50%;
        justify-content: space-around;
    }
    .bottom-promo-socials {
        width: 50%;
        justify-content: space-around;
    }
    .top-left {
        margin: 0;
    }
    .top-right {
        margin: 0;
    }
    .bottom-left {
        margin: 0;
    }
    .bottom-right {
        margin: 0;        
    }
    .promo-social-svg {
        width: clamp(20px, 10vw, 50px);
        height: clamp(20px, 10vw, 50px);
        /* used to be 50px / 50px */
    }
    .or-border {
        display: none;
    }
}
@media screen and (width > 650px) and (height < 500px) {
    .booking-content {
        width: 40%;
    }
    .booking {
        height: 50px;
        justify-content: space-around;
    }
    .promo-container {
        width: 80%;
    }
    .promo-title {
        font-size: .8rem;
    }
    .promo-social-svg {
        height: 40px;
        width: 40px;
    }
    .booking-link {
        font-size: .8rem;
    }
}
@media screen and (height < 360px) {
    header {
        height: 360px;
    }
}